n8n/the-hunter.json
{
  "name": "The Hunter — YouTube Viral Shorts Scraper",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 3 }]
        }
      },
      "id": "hunter-01-schedule",
      "name": "Every 3 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part",            "value": "snippet,statistics,contentDetails" },
            { "name": "chart",           "value": "mostPopular" },
            { "name": "regionCode",      "value": "CA" },
            { "name": "videoCategoryId", "value": "28" },
            { "name": "videoDuration",   "value": "short" },
            { "name": "maxResults",      "value": "50" },
            { "name": "key",             "value": "={{ $env.GOOGLE_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "hunter-02-science",
      "name": "YouTube Science & Tech (28)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 80]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part",            "value": "snippet,statistics,contentDetails" },
            { "name": "chart",           "value": "mostPopular" },
            { "name": "regionCode",      "value": "CA" },
            { "name": "videoCategoryId", "value": "20" },
            { "name": "videoDuration",   "value": "short" },
            { "name": "maxResults",      "value": "50" },
            { "name": "key",             "value": "={{ $env.GOOGLE_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "hunter-03-gaming",
      "name": "YouTube Gaming (20)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 200]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part",            "value": "snippet,statistics,contentDetails" },
            { "name": "chart",           "value": "mostPopular" },
            { "name": "regionCode",      "value": "CA" },
            { "name": "videoCategoryId", "value": "24" },
            { "name": "videoDuration",   "value": "short" },
            { "name": "maxResults",      "value": "50" },
            { "name": "key",             "value": "={{ $env.GOOGLE_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "hunter-04-entertainment",
      "name": "YouTube Entertainment (24)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part",            "value": "snippet,statistics,contentDetails" },
            { "name": "chart",           "value": "mostPopular" },
            { "name": "regionCode",      "value": "CA" },
            { "name": "videoCategoryId", "value": "27" },
            { "name": "videoDuration",   "value": "short" },
            { "name": "maxResults",      "value": "50" },
            { "name": "key",             "value": "={{ $env.GOOGLE_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "hunter-05-education",
      "name": "YouTube Education (27)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 440]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part",            "value": "snippet,statistics,contentDetails" },
            { "name": "chart",           "value": "mostPopular" },
            { "name": "regionCode",      "value": "CA" },
            { "name": "videoCategoryId", "value": "17" },
            { "name": "videoDuration",   "value": "short" },
            { "name": "maxResults",      "value": "50" },
            { "name": "key",             "value": "={{ $env.GOOGLE_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "hunter-06-sports",
      "name": "YouTube Sports (17)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 560]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/youtube/v3/videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "part",            "value": "snippet,statistics,contentDetails" },
            { "name": "chart",           "value": "mostPopular" },
            { "name": "regionCode",      "value": "CA" },
            { "name": "videoCategoryId", "value": "10" },
            { "name": "videoDuration",   "value": "short" },
            { "name": "maxResults",      "value": "50" },
            { "name": "key",             "value": "={{ $env.GOOGLE_API_KEY }}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "hunter-07-music",
      "name": "YouTube Music (10)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 680]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "hunter-08-merge",
      "name": "Merge 6 Categories",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [760, 380]
    },
    {
      "parameters": {
        "jsCode": "// ── Process YouTube API responses & calculate Velocity Score ─────────────\n//\n// Input: 6 YouTube API responses (one per category), merged in append mode.\n// Each item.json = { kind, etag, items: [...], nextPageToken?, pageInfo }\n//\n// Output: one item per valid Short (< 180s), sorted by velocity_score desc.\n\nconst CATEGORY_NAMES = {\n  '10': 'music',\n  '17': 'sports',\n  '20': 'gaming',\n  '24': 'entertainment',\n  '27': 'education',\n  '28': 'science',\n};\n\n// Velocity: views/hour → normalized 0-100.\n// Calibration: 200k views/hour = score 100 (adjust to taste).\nconst MAX_VELOCITY_VPH = 200000;\n\n// Parse ISO 8601 duration (PT1M30S, PT45S, PT2H3M10S)\nfunction parseDurationSec(iso) {\n  if (!iso) return 9999;\n  const m = iso.match(/PT(?:(\\d+)H)?(?:(\\d+)M)?(?:(\\d+)S)?/);\n  if (!m) return 9999;\n  return (parseInt(m[1] || '0') * 3600)\n       + (parseInt(m[2] || '0') * 60)\n       +  parseInt(m[3] || '0');\n}\n\nconst clips = [];\nconst seenIds = new Set();\n\nfor (const item of $input.all()) {\n  const response = item.json;\n  // YouTube returns { kind: 'youtube#videoListResponse', items: [...] }\n  const ytItems = Array.isArray(response.items) ? response.items : [];\n\n  for (const vid of ytItems) {\n    // Skip duplicates (same video can appear in multiple categories)\n    if (seenIds.has(vid.id)) continue;\n    seenIds.add(vid.id);\n\n    // ── Duration filter: Shorts = under 3 minutes (180s) ─────────────────\n    const durationSec = parseDurationSec(vid.contentDetails?.duration);\n    if (durationSec >= 180) continue;\n\n    // ── Velocity score ───────────────────────────────────────────────────\n    const publishedAt = new Date(vid.snippet?.publishedAt || Date.now());\n    const hoursAgo = Math.max(0.5, (Date.now() - publishedAt.getTime()) / 3_600_000);\n    const viewCount  = parseInt(vid.statistics?.viewCount  || '0', 10);\n    const likeCount  = parseInt(vid.statistics?.likeCount  || '0', 10);\n    const rawVph     = viewCount / hoursAgo;\n    const velocity   = Math.min(100, parseFloat(((rawVph / MAX_VELOCITY_VPH) * 100).toFixed(1)));\n\n    const categoryId = vid.snippet?.categoryId || '';\n\n    clips.push({\n      json: {\n        external_url:  `https://www.youtube.com/watch?v=${vid.id}`,\n        platform:       'youtube',\n        title:          vid.snippet?.title        || null,\n        description:   (vid.snippet?.description || '').slice(0, 500) || null,\n        author_name:    vid.snippet?.channelTitle || null,\n        author_handle:  vid.snippet?.channelId   || null,\n        niche:          CATEGORY_NAMES[categoryId] || null,\n        view_count:     viewCount,\n        like_count:     likeCount,\n        thumbnail_url:  vid.snippet?.thumbnails?.high?.url\n                     || vid.snippet?.thumbnails?.medium?.url\n                     || null,\n        velocity_score: velocity,\n        duration_seconds: durationSec,\n      }\n    });\n  }\n}\n\n// Sort best first\nclips.sort((a, b) => b.json.velocity_score - a.json.velocity_score);\n\n// Safety cap at 200 (API route max)\nreturn clips.slice(0, 200);\n"
      },
      "id": "hunter-09-process",
      "name": "Process & Velocity Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.APP_URL }}/api/trending/scrape",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-api-key",     "value": "={{ $env.N8N_API_KEY }}" },
            { "name": "Content-Type",  "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ clips: $input.all().map(i => i.json) }) }}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } }
        }
      },
      "id": "hunter-10-post",
      "name": "POST → /api/trending/scrape",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1240, 380]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false, "leftValue": "", "typeValidation": "loose" },
          "conditions": [
            {
              "id": "viral-check",
              "leftValue":  "={{ $json.data.viral_count }}",
              "rightValue": 0,
              "operator": { "type": "number", "operation": "gt" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "hunter-11-if-viral",
      "name": "Viral Clips Found? (score > 80)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1480, 380]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NOTIFY_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  text: `🔥 *${$json.data.viral_count} clip(s) VIRAL détectés sur YouTube !*`,\n  blocks: [\n    {\n      type: 'section',\n      text: {\n        type: 'mrkdwn',\n        text: `🔥 *${$json.data.viral_count} Shorts VIRAUX* détectés (velocity > 80)\\n` +\n              ($json.data.viral_clips || []).map(c =>\n                `• Velocity *${c.velocity}* — ${c.url}`\n              ).join('\\n')\n      }\n    }\n  ]\n}) }}",
        "options": {}
      },
      "id": "hunter-12-notify",
      "name": "Notify Viral (Slack / Webhook)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1720, 260]
    },
    {
      "parameters": {
        "message": "={{ `✅ Hunter scan terminé — ${$json.data?.upserted ?? 0} clips upsertés, 0 viral cette fois` }}"
      },
      "id": "hunter-13-noop",
      "name": "Log — Aucun Viral",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1720, 500]
    }
  ],
  "connections": {
    "Every 3 Hours": {
      "main": [[
        { "node": "YouTube Science & Tech (28)",  "type": "main", "index": 0 },
        { "node": "YouTube Gaming (20)",           "type": "main", "index": 0 },
        { "node": "YouTube Entertainment (24)",    "type": "main", "index": 0 },
        { "node": "YouTube Education (27)",        "type": "main", "index": 0 },
        { "node": "YouTube Sports (17)",           "type": "main", "index": 0 },
        { "node": "YouTube Music (10)",            "type": "main", "index": 0 }
      ]]
    },
    "YouTube Science & Tech (28)":  { "main": [[{ "node": "Merge 6 Categories", "type": "main", "index": 0 }]] },
    "YouTube Gaming (20)":          { "main": [[{ "node": "Merge 6 Categories", "type": "main", "index": 1 }]] },
    "YouTube Entertainment (24)":   { "main": [[{ "node": "Merge 6 Categories", "type": "main", "index": 2 }]] },
    "YouTube Education (27)":       { "main": [[{ "node": "Merge 6 Categories", "type": "main", "index": 3 }]] },
    "YouTube Sports (17)":          { "main": [[{ "node": "Merge 6 Categories", "type": "main", "index": 4 }]] },
    "YouTube Music (10)":           { "main": [[{ "node": "Merge 6 Categories", "type": "main", "index": 5 }]] },
    "Merge 6 Categories":           { "main": [[{ "node": "Process & Velocity Score",          "type": "main", "index": 0 }]] },
    "Process & Velocity Score":     { "main": [[{ "node": "POST → /api/trending/scrape",       "type": "main", "index": 0 }]] },
    "POST → /api/trending/scrape":  { "main": [[{ "node": "Viral Clips Found? (score > 80)",   "type": "main", "index": 0 }]] },
    "Viral Clips Found? (score > 80)": {
      "main": [
        [{ "node": "Notify Viral (Slack / Webhook)", "type": "main", "index": 0 }],
        [{ "node": "Log — Aucun Viral",              "type": "main", "index": 0 }]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    { "createdAt": "2026-03-23T00:00:00.000Z", "updatedAt": "2026-03-23T00:00:00.000Z", "id": "tag-001", "name": "viral-studio" },
    { "createdAt": "2026-03-23T00:00:00.000Z", "updatedAt": "2026-03-23T00:00:00.000Z", "id": "tag-002", "name": "trending" },
    { "createdAt": "2026-03-23T00:00:00.000Z", "updatedAt": "2026-03-23T00:00:00.000Z", "id": "tag-003", "name": "youtube" }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-03-23T00:00:00.000Z",
  "versionId": "sprint3-v2-youtube-real"
}
